<HTML>
<HEAD>
  <TITLE>Firearm Detail</TITLE>
  <STYLE>
  table, th, td { border: 1px solid black }
  </STYLE>
</HEAD>
<BODY>
      Logged in as: {{ request.user.get_full_name  }}
      <BR>
      <A HREF="/logout/">Logout</A>
      <HR>
  <H1>Inspection Records for {{ firearm }} (S/N:{{ firearm.serial }})</H1>
  <TABLE style="width:100%" name="fdetails_table">
    <THEAD>
      <TR>
        <TH>Date Checked</TH>
        <TH>Checked By</TH>
        <TH>Current State</TH>
        <TH>Notes</TH>
      </TR>
    </THEAD>
    <TBODY>
    {% for detail in check_event_list %}
      <TR>
          <TD>{{ detail.when }}</TD>
          <TD>{{ detail.user.get_full_name }}</TD>
          <TD>{{ detail.get_state_display }}</TD>
          <TD>{{ detail.notes }}</TD>
      </TR>
    {% endfor %}
    </TBODY>
  </TABLE>
  <BR>
  <BUTTON type=button><A HREF="{% url 'get_check_data' firearm.id %}">Add Record</A></BUTTON>
  <BUTTON type=button><A HREF="{% url 'index' %}">Back</A></BUTTON>
</BODY>
</HTML>
